@charset "UTF-8";
/*============================================================================
                Master del Ecommerce - Lagobo | Colores
==============================================================================*/

$black: #000000;
$black2: #242424;
$white: #ffffff;
$lighterBlue: #50D6FF;
$lightBlue: #00C4FF;
$darkBlue: #18337F;
$lighterGray: #F9F9F9;
$lightGray: #929292;
$darkGray: #646464;
$lightRed: #C13436;
$darkRed: #F60606;
$red: #FE4132;
$yellow: #E0B835;
$lightGray2: #474747;
$lightGray3: #F0F0F0;
$lightGray4: #F9F9F9;
$gray: #707070;
$gray2: #686868;
$promoRed: #ee1d23;
$gray3: #eee;