<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->
<script src="/arquivos/pace.min.js"></script>
<script src="/arquivos/advanced-filter.min.js"></script>
<script src="/arquivos/default.min.js"></script>

 <!-- VTEX Third Party -->
<script src="/arquivos/bootstrap.min.js?u=1"></script>
<script src="/arquivos/owl.carousel.min.js"></script>
<script src="/arquivos/vtex-commerce-Compare.min.js"></script>
<script src="/arquivos/modernizr-custom.min.js"></script>
<script src="/arquivos/jquery-dlmenu.min.js"></script>

<!-- Brandlive Custom -->
<script src="/arquivos/lagobo.js?v=24.08.2021"></script>
<script src="/arquivos/translator.min.js"></script>

<script src="https://assets-cdn.woowup.com/js/webtracking.min.js" type="text/javascript"></script>

<!--<script src="/files/overrides.js"></script>-->