<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->
<!-- <script>
    if (window.location.hostname == "www.oportunidades.com.co" || window.location.hostname == "oportunidades.com.co") {
        location.href = '/mantenimiento';
    }
</script> -->
<!--<meta name="google-site-verification" content="pZCTOBYZWqKxwUBEk5y0c54aJx_qswKPxTxYHlxAbu0" />-->
<!--<meta name="google-site-verification" content="3lUlQG_FOMu2hWH3RtHZYd-rDrf03h2XWR1B9BRN9G0" /> -->
<!--<meta name="google-site-verification" content="B-MP4Aibcjd75eaJQGYgECBfKhio0S5Hj7vWdsja7YM" />-->
<!-- Third Party -->
<link rel="stylesheet" type="text/css" href="/arquivos/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/arquivos/owl.carousel.css" />
<link rel="stylesheet" type="text/css" href="/arquivos/owl.theme.default.css" />


<!-- Base Styles [VTEX Default] -->
<link rel="stylesheet" type="text/css" href="/arquivos/vtex-default.css" />

<!-- Custom Styles -->
<link rel="stylesheet" type="text/css" href="/arquivos/lagobo.css?v=1.38" />

<!--<link rel="stylesheet" type="text/css" href="/files/overrides.css" />-->