ido por Integrando.se
* hello@integrando.se
* 
* Bootstrap v.3
*

<footer class="footer">
    <div class="floating-buttons">
        <div class="item">
            <a href="https://bit.ly/3qnuuxS" target="_blank">
                <img src="/arquivos/logo-whatsapp-mobile.png" alt="" />
                <p>
                    Contactar a un asesor
                </p>
            </a>
        </div>
    </div>
  <div class="footer-top">
    <div class="container">
      <div class="pre-footer">
        <!-- 
          <div class="televentas">Línea nacional: <span class="number-phone">57 (1) 484 2122</span>
              <span class="schedule-attention">Lunes a viernes 8 a 5 pm</span>
          </div>
          -->
        <a class="mail" href="/contacto">info@oportunidades.com.co</a>
      </div>
      <div class="row-menus-top row col-xs-12">
        <div class="wrapper-footer clearfix">
          <div class="column col-servicio col-xs-12 col-md-4">
            <div class="wrapper-column clearfix">
              <h2>Nosotros</h2>
              <ul>
                <li><a href="http://blog.oportunidades.com.co/Catalogo RP.pdf" target="_blank">Catalogo almacenes Resto del país</a></li>
                <li><a href="http://blog.oportunidades.com.co/Catalogo ZE.pdf" target="_blank">Catalogo almacenes Eje cafetero</a></li>
                <li><a href="/blog" target="blank">Blog</a></li>
                <li><a href="/Quienes-somos">Quiénes somos</a></li>
                <li><a href="/locales">Cobertura</a></li>
                <li><a href="/codigo-de-etica">Código de ética y buen gobierno corporativo</a></li>
                <li><a href="/Proteccion-de-datos-personales">Protección de datos personales</a></li>
                <li><a href="/campana/febrero">Políticas de promociones y descuentos</a></li>
                <!--
                  <li><a href="/Codigo-de-etica-y-buen-gobierno">Código de ética y buen gobierno</a></li>
                  <li><a href="/Codigo-de-etica-y-buen-gobierno-para-proveedores">Código de ética y buen gobierno para proveedores</a></li>
                  -->
                <li><a href="/Terminos-y-condiciones">Términos y condiciones</a></li>
              </ul>
            </div>
          </div>
          <div class="column col-info col-xs-12 col-md-4">
            <div class="wrapper-column clearfix">
              <h2>Servicio al cliente</h2>
              <ul>
                <li><a href="/Preguntas-frecuentes">Preguntas Frecuentes</a></li>
                <li><a href="/Por-que-comprar-con-nosotros">Por qué comprar con nosotros</a></li>
                <li><a href="/Tiempos-y-costos-de-envio">Tiempos y costos de envío</a></li>
                <li><a href="/Cambios-devoluciones-y-atencion-de-garantias">Cambios, devoluciones y atención de garantías</a></li>
                <li><a href="/contacto" target="_blank">"Contacto"</a></li>
                <!-- <li><a href="Terminos-y-condiciones">Términos y condiciones</a></li> -->          
                <!-- <li><a href="Proteccion-de-datos-personales">Protección de datos personales</a></li> -->                                          
                <li><a href="http://www.sic.gov.co/proteccion-del-consumidor" target="_blank">Protección al Consumidor</a></li>
                <li><a href="https://www.tdtcolombia.tv/" target="_blank">"Todo lo que debes saber sobre la TDT"</a></li>
                <li><a href="" target="_blank">Cel: 320 4752096</a></li>
              </ul>
            </div>
          </div>
          <div class="column contenedor-newsletter-social col-xs-12 col-md-4">
            <div class="wrapper-column clearfix">
              <div class="col-newsletter">
               <div class="conteiner-newsletter">
                 <h2>Quiero recibir las mejores ofertas</h2>
                  <vtex.cmc:newsletterOptIn/> 
                   <!--begin form news -->
                   <div class="newsletter" id="newsletter_1">
                    <fieldset class="formulario">
                      <form action="javascript:void(0);" id="footer" method="post" class="formulario-newsletter">
                        <p>Reciba novedades y promociones por email:</p>
                        <input id="newsletterClientName" placeholder="Ingresa tu nombre" class="newsletter-client-name" size="20" type="text" name="newsClientName"/>
                       
                        <label id="tym">
                        <input type="checkbox" name="terminos_condiciones" id="terminos_condiciones" value="terminos_condiciones" checked="checked"/>
                        <a href="/terminos-y-condiciones" target="_blank" >Acepto términos, condiciones y politica de tratamiento de datos.</a>
                        </label> 
                        <input id="storeName" name="storeName" type="hidden" value="lagobo"/>
                        <input id="dataEntity" name="dataEntity" type="hidden" value="CL"/>
                      </form>
                    </fieldset>
                    <fieldset class="error" style="display: none;">
                      <label>
                      Encontramos un error en el registro de tu información.<br />Por favor, inténtalo de nuevo!
                      </label>
                      <input type="button" value="Volver" class="bt-voltar newsletter-button-back" />
                    </fieldset>
                    <fieldset class="success" style="display: none;">
                      <label>
                      Gracias por suscribirte a nuestro Newsletter!
                      <br/>
                      En breve entraremos en contacto para ofrecerte las mejores promociones.</label>
                    </fieldset>
                  </div>
                  <!-- begin form news -->
                </div>
                </div>
              </div>
              <div class="medios_social col-xs-12">
                <h2>Siguenos</h2>
                <ul class="list-inline">
                  <li class="facebook"><a target="_blank" href="https://www.facebook.com/almacenes.oportunidades">Facebook</a></li>
                  <!--<li class="mail"><a href="/contacto">xx@xxxx</a></li>
                    <li class="youtube"><a target="_blank" href="#">YouTube</a></li>-->                       
                </ul>
              </div>
        </div>
     </div>
    </div>
  </div>
</div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row-menus-bottom clearfix">
        <div class="row col-xs-12">
          <div class="column col-servicio col-xs-6 col-md-3">
            <div class="imagen" >
              <img src="/arquivos/51-yearsE.png" class="img-responsive" />
            </div>
            <h2>51 años</h2>
            <ul>
              <li>Respaldan su compra</li>
            </ul>
          </div>
          <div class="column col-servicio col-xs-6 col-md-3">
            <div class="imagen">
              <img src="/arquivos/Icono_store.png" class="img-responsive" />
            </div>
            <h2>41 almacenes</h2>
            <ul>
              <li>Respaldan su compra</li>
            </ul>
          </div>
          <div class="column col-servicio col-xs-6 col-md-3">
            <div class="imagen">
              <img src="/arquivos/Icono_electro.png" class="img-responsive" />
            </div>
            <h2>líder en electrodomésticos</h2>
            <ul>
              <li>Colombia</li>
            </ul>
          </div>
          <!-- <div class="column col-servicio col-xs-6 col-md-3">
            <div class="imagen">
                <img src="/arquivos/Icono_free.png" class="img-responsive" />
            </div>
                <h2>ENVÍO GRATIS</h2>
                <ul><li>A la ciudad de Bogotá</li></ul>              
            </div>-->
        </div>
      </div>
    </div>
  </div>
  <div class="footer-lagobo">
    <div class="container">
       <div class="col-lg-6 left">
           <p>© 2020 Lagobo Distribuciones S.A.S. <span>Todos los derechos reservados.</span></p>
       </div>
      </div>
      <div class="col-lg-6 brand-footer right">
        <a class="logo-brand" href="http://www.sic.gov.co/" target="_Blank">
        <img src="/arquivos/sicg2.png" hspace="0" alt="Superintendencia de Industria y Comercio"/>
        </a>
        <a class="logo-brand" href="https://www.ccce.org.co/" target="_Blank">
        <img src="/arquivos/comer.fw.png" hspace="20" alt="Camara Colombiana de Comercio Electronico"/>
        </a>                                   
      </div>
    </div>
 
  
 
 
  
    
     
</footer>
<!-- .footer -->
<!-- Newsletter Popup -->
<div id="newsletter-popup-wrapper">
  <!-- <vtex.cmc:newsletterOptIn/> -->
  <!-- begin form news -->
  <div class="newsletter" id="newsletter_2">
    <h3>Cerrar</h3>
    <fieldset class="formulario">
      <form action="javascript:void(0);" id="footer" method="post" class="formulario-newsletter">
        <p>Reciba novedades y promociones por email:</p>
        <input id="newsletterClientName" placeholder="Ingresa tu nombre" class="newsletter-client-name" size="20" type="text" name="newsClientName"/>
        <input id="newsletterClientPhone" placeholder="Ingresa tu teléfono" class="newsletter-client-phone" size="20" type="text" name="newsClientPhone"/> 
        <input id="newsletterClientEmail" placeholder="Ingresa tu e-mail" class="newsletter-client-email" size="20" type="email" name="newsletterClientEmail" />
        <input id="newsletterButtonOK" class="btn-ok newsletter-button-ok" value="ok" type="submit" name="newsletterButtonOK" />
        <label id="tym">
        <input type="checkbox" name="terminos_condiciones" id="terminos_condiciones" value="terminos_condiciones" checked="checked"/>
        <a href="/terminos-y-condiciones" target="_blank" >Acepto términos, condiciones y politica de tratamiento de datos.</a>
        </label> 
        <input id="storeName" name="storeName" type="hidden" value="lagobo"/>
        <input id="dataEntity" name="dataEntity" type="hidden" value="CL"/>
      </form>
    </fieldset>
    <fieldset class="error" style="display: none;">
      <label>
      Encontramos un error en el registro de tu información.<br />Por favor, inténtalo de nuevo!
      </label>
      <input type="button" value="Volver" class="bt-voltar newsletter-button-back" />
    </fieldset>
    <fieldset class="success" style="display: none;">
      <label>
      Gracias por suscribirte a nuestro Newsletter!
      <br/>
      En breve entraremos en contacto para ofrecerte las mejores promociones.</label>
    </fieldset>
  </div>
  <!-- begin form news -->
</div>
<!-- Comparador de productos -->
<div class="container-compare" style="display:none;">
  <div class="container" id="compare-fixed">
    <div class="col-md-3" id="text-compare">
      <span>¡Compara tus productos!</span>
      <span id="number-compare"></span>
    </div>
    <div class="col-md-6" id="compare-images">
    </div>
    <div class="col-md-3" id="link-compare">
      <a id="clear" href="#">Borrar todo</a>
      <a id="a-compare" href="#">¡Comparar ahora!</a>
    </div>
  </div>
</div>
<!--Start of Zendesk Chat Script-->
<!--<script type="text/javascript">
  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
  $.src="https://v2.zopim.com/?5irldrhwTLspCbuv4vkGq5S3wX4aXwFy";z.t=+new Date;$.
  type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>-->
<!--End of Zendesk Chat Script-->